// Place all the styles related to the api/comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comments-div{
    margin-top: 20px;
    width: 640px;
    // margin:auto;
}

.comment-form{
    border: 1px solid rgba(0, 0, 0, .20);
    padding: 20px;
    margin-top: 5px;
    margin-bottom: 20px;
}

.comment-form-label{
    margin-top: 100px;
    font-family: medium-content-sans-serif-font,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
    
}
    

.comment-form-label span{
    color: rgba(0, 0, 0, .54);
    font-size: 14px;
    padding-bottom: 15px;
}

.comment-user-img{
    width: 36px;
    height: 36px;
    object-fit: cover;
    border-radius: 100%;
}

.comment-author{
    display: flex;
}


.comment-author-name {
 display: flex;
 flex-direction: column;
 justify-content: center;
 padding-left: 15px;
}

.author-name-com {
    margin: 0;
    color: #03a87c;
    font-size: 14px;
}

.comment-form-form{
    margin-top: 20px;
}

.comment-textarea{
    border:none;
    width: 598px;
    // height: 160px;
    resize: none;
    // font-size: 14px;
}

.comment-textarea:focus{
    outline:none;
}

.comment-submit {
    padding: 7px 16px;
    background:none !important;
    font: inherit;
    /*border is optional*/
    color: #03a87c;
    border:1px solid #03a87c;
    cursor: pointer;
    font-size: 14px;
    border-radius: 4px;
}

.comment-submit:focus {
    outline: none;
    color: #16926E;
    border:1px solid #16926E;
}

.comment-comments{
    border: 1px solid rgba(0, 0, 0, .20);
    padding: 20px;
    margin-top: 5px;
    margin-bottom: 20px;
    font-family: medium-content-sans-serif-font,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
    font-size: 12px;
}

.comment-author-info{
    display: flex;

}

.comment-date{
    margin: 0;
    color: rgba(0, 0, 0, 0.50);
        font-family: medium-content-sans-serif-font,
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        "Open Sans",
        "Helvetica Neue",
        sans-serif;
}

.comment-author-names{
    display: flex;

        flex-direction: column;
        justify-content: space-evenly;
}

// .comment-author-info a{
//     margin-top: 2px;
//     padding: 0;
// }

.comment-body{
    // font-size: 16px; 
    margin-top: 20px;
    margin-bottom: 20px;
    color: rgba(0, 0, 0, 0.84);
    font-family: medium-content-serif-font,
    Georgia,
    Cambria,
    "Times New Roman",
    Times,
    serif;
}

.comment-body h1{
    font-size: 20px;
}
.comment-body h2{
    font-size: 18px;
}
.comment-body p{
    font-size: 16px;
    margin: 0;
}
.comment-body blockquote{
    font-size: 16px;
    border-left: 5px solid rgba(0, 0, 0, 0.20);
    padding-left: 15px;
}

.comment-body a{
    text-decoration: underline;
}

.article-update-button {
    height: 37px;
    width: 81px;
    padding: 7px 16px;
    background: none !important;
    font: inherit;
    /*border is optional*/
    color: #03a87c;
    border: 1px solid #03a87c;
    cursor: pointer;
    font-size: 14px;
    border-radius: 4px;
}

.article-update-button:focus {
    outline: none;
    color: #16926E;
    border: 1px solid #16926E;
}